$mainColor: #005894;
$secondaryColor: #008F7A;
$blackColor: #000000;
$whiteColor: #ffffff;
$borderColor: #0000001A;
$navBorderColor: #D7D7DD;
$textColor: #7D7D7D;
$hintColor: #000000A6;
$bulletColor: #3D3B4C;
$mainHeadingLine: #007985;
$backgroundColor: #f9f8ff;
$responsiveBackgroundColor: #f9f8ff;
$notificationsBackgroundColor: #00589414;
$notificationTextColor: #042A44;
$notificationTimeColor: #0000008A;
$remainderColor: #2A2C36;
$tabsColor: #00000080;
$sliderBackgroundColor: #fafafa;
$logoutColor: #C93737;
$ContactUsBackgroundColor: #00589408;
$facebookColor: #385f97;
$instagramColor: #ec3789;
$youtubeColor: #e01515;
$snapchatColor: #ecd500;
$conditionsColor: #707070;
$minusColor: #EEEEEE;
$deleteColor: #C93737;
$dataPayColor: #00589405;
