@import "../../../styles/variables";

#summary-request {
  .card {
    box-shadow: 1px 1px 10px 1px $navBorderColor;
    border: none;
    padding: 24px;

    .card-title {
      font-size: 18px;
      font-family: "Bold", sans-serif;
      margin-bottom: 24px;
    }

    .card-content-list {
      border-bottom: 1px solid $borderColor;
      padding-bottom: 24px;

      .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .list-icon-item {
          color: $hintColor !important;
          font-size: 22px;

          @media (max-width: 449px) {
            font-size: 18px;
          }

          @media (max-width: 375px) {
            font-size: 16px;
          }
        }

        .list-item-type {
          margin: 0 8px;
          color: $blackColor;
          font-size: 18px;

          @media (max-width: 449px) {
            font-size: 16px;
          }

          @media (max-width: 375px) {
            font-size: 14px;
          }

          @media (max-width: 320px) {
            font-size: 12px;
          }
        }

        .list-item-value {
          color: $blackColor;

          @media (max-width: 449px) {
            font-size: 14px;
          }

          @media (max-width: 375px) {
            font-size: 11px;
          }

          @media (max-width: 320px) {
            font-size: 8px;
          }
        }
      }

      .list-item:last-child {
        margin: 0;
      }
    }

    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $mainColor;
      font-family: "Bold", sans-serif;

      .total-type {
        font-size: 18px;

        @media (max-width: 449px) {
          font-size: 16px;
        }

        @media (max-width: 375px) {
          font-size: 14px;
        }

        @media (max-width: 320px) {
          font-size: 12px;
        }
      }

      .total-value {
        @media (max-width: 449px) {
          font-size: 14px;
        }

        @media (max-width: 320px) {
          font-size: 12px;
        }
      }
    }
  }

  .cancel-btn {
    margin-top: 24px;
    text-align: center;

    button {
      padding: 12px 104px;
      background: linear-gradient(to top, $mainColor, $secondaryColor);
      font-size: 14px;
      color: $whiteColor;
      border: none;
      border-radius: 32px 32px 32px 0;
      font-family: "Bold", sans-serif;
    }
  }
}
